{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/password.css' %}" />
    <title>Password Reset</title>
  </head>
  <body>
    <div class="reset-msg-container">
      <form>
        <h1>Password Reset Sent</h1>
        <h2>
          We’ve emailed you instructions for setting your password, if an
          account exists with the email you entered. You should receive them
          shortly.
        </h2>
        <h3>
          If you don’t receive an email, please make sure you’ve entered the
          address you registered with, and check your spam folder.
        </h3>
      </form>
    </div>
  </body>
</html>