{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="destination_section" class="destination_section">
    <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{result.name}}</li>
        </ol>
    </div>
    <div class="img_container row row-cols-1">
        <div id="carouselExampleIndicators" class="carousel slide col col-12"
            data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{result.photo.images.original.url}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{result.photo.images.large.url}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{result.photo.images.medium.url}}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="details_container container mx-auto my-5 row row-col-1 row-col-lg-2 row-col-md-2 p-5">
        <div class="inner_div_1 col col-lg-7">
            <div class="name">
                <h3>{{result.name}}</h3>
            </div>
            <div class="ranking">
                <p>{{result.ranking}}</p>
            </div>
            <div class="card-text">
                <span class="badge bg-success">{{result.rating}}</span>
                <small class="text-muted"><i class="fa-solid fa-star-sharp"></i><i
                        class="fa-solid fa-star-sharp"></i></small>

            </div>
            <div class="address my-3">
                <p><i class="fa-solid fa-location-dot"></i>{{result.address}}</p>
            </div>

            <div class="category">
                <h5>Category</h5>
                <ul>
                    <li>{{result.category.name}}</li>
                    {% if result.subcategory.name %}<li>{{result.subcategory.name}}</li>{% endif %}
                    {% if result.description %}<li>{{result.description}}</li>{% endif %}  
                </ul>
            </div>
        </div>

        <div class="inner_div_2 col col-lg-5 row">
            <div class="imgs col col-12 col-lg-6 col-md-12">
                <img src="{{result.photo.images.small.url}}" class="w-100" alt="" srcset="">
            </div>
            {% if result.phone %}
            <div class="website_info col col-12 col-lg-6 col-md-12">
                <div class="caption">
                    <p>{{result.ranking_geo}}</p>
                </div>
                <div class="phone">
                    <p>{{result.phone}}</p>
                </div>
                <div class="web_url">
                    <p>Visit: <a href="result.website" target="_blank">{{result.website|truncatechars:20}}</a></p>
                </div>
            </div>
            {% endif %}
            
        </div>

    </div>

    <div class="container m-auto offer_details_cards row row-cols-1 row-cols-lg-4 row-cols-md-2">
        {% for offer in  result.offer_group.offer_list %}
        <div class="card col mx-auto my-3" style="width: 18rem;">
            <img src="{{ offer.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{offer.title}}</h5>
                <p class="card-text">{{offer.partner}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p>Price: <span>{{offer.price}}</span></p>
                    <p>Roundup price: <span>{{offer.rounded_up_price}}</span></p>
                </li>
                <li class="list-group-item">Category: <span>{{offer.primary_category}}</span></li>
            </ul>
            <div class="card-body">
                Visit: <a href="offer.url" class="card-link" target="_blank">{{offer.url|truncatechars:30}}</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="location_div container mx-auto my-3 p-5">
        <h3>Location</h3>
        <div class="map">
            {{map|safe}}
        </div>
    </div>
</section>

{% endblock content %}