@import 'global.css';

.reset-container {
    min-height: 100vh;
    background-image: url("../images/password/pass-reset_unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-container form {
    width: 35%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.reset-container form h1 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--main);
}
.reset-container form h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px;
}
.reset-container form h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px;
}
.reset-container .form-box input{
    outline: none;
    padding: 15px 30px;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}
.reset-container .form-submit input {
    outline: none;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 800px) {
    .reset-container form {
        width: 70%;
    }
}
/* ============================== */
.reset-msg-container {
    min-height: 100vh;
    background-image: url("../images/password/Pass-reset-msg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-msg-container form {
    width: 35%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.reset-msg-container form h1 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--main);
}
.reset-msg-container form h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px;
}
.reset-msg-container form h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px;
}

@media (max-width: 800px) {
    .reset-msg-container form {
        width: 70%;
    }
}
/* ============================= */
.reset_container_main {
    min-height: 100vh;
    background-image: url("../images/password/Newpass-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset_container_main form {
    width: 35%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.reset_container_main form h1 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--main);
}
.reset_container_main form h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px;
}
.reset_container_main .form-box {
    display: flex;
    flex-direction: column;
}
.reset_container_main .form-box input{
    outline: none;
    padding: 15px 30px;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}
.reset_container_main .form-submit input {
    outline: none;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 800px) {
    .reset_container_main form {
        width: 70%;
    }
}

/* =================================== */
.reset-msg-container_main {
    min-height: 100vh;
    background-image: url("../images/password/Newpass-msg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reset-msg-container_main form {
    width: 35%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.reset-msg-container_main form h1 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--main);
}
.reset-msg-container_main form h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 5px;
}

@media (max-width: 800px) {
    .reset-msg-container_main form {
        width: 70%;
    }
}