{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="min-height: 70vh">
  <div class="row">
     <div class="col-md-6 mx-auto my-5">
        <div class="payment">
           <div class="payment_header">
              <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
           </div>
           <div class="content">
              <h1>Payment Success !</h1>
              <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p>
              <a href="{% url 'home' %}">Go to Home</a>
           </div>
           
        </div>
     </div>
  </div>
</div>
{% endblock content %}